<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <title>richcolin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


</head>
<body>
  <header class="header-global">
<h1>学习如何网页布局</h1>
  </header>


<main>
    <section class="section-shaped my-0 bg-center bg-cover h-120">
      <!-- Circles background -->
      <div class="shape shape-style-1 shape-primary alpha-4">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <!-- SVG separator -->

    </section>
    <section class="section -mt-64">
      <div class="container container-lg">
        <div class="row">

          <div class="col-md-6 mb-8">
            <div class="card card-lift--hover shadow border-0 p-3">
              <a href="" title="Apache Cordova" target="_blank" class="w-full relative overflow-hidden bg-gray-200 pt-16:9">
                <img src="http://assets.youzhan.org/img/1/09/8d76272ed51d7530cbbac527c9cc1.jpg!md" class="card-img absolute top-0">
              </a>
            </div>
          </div>

          <div class="col-md-6 mb-8">
            <div class="card card-lift--hover shadow border-0 p-3">
              <a href="" title="graze" target="_blank" class="w-full relative overflow-hidden bg-gray-200 pt-16:9">
                <img src="http://assets.youzhan.org/img/d/b2/fe63f552eeb88bd521ced3f58d5ed.jpg!md" class="card-img absolute top-0">
              </a>
            </div>
          </div>

          <div class="col-md-6 mb-8">
            <div class="card card-lift--hover shadow border-0 p-3">
              <a href="" title="Gradible" target="_blank" class="w-full relative overflow-hidden bg-gray-200 pt-16:9">
                <img src="http://assets.youzhan.org/img/c/84/16d3401a854cdea0113db0d1022ee.jpg!md" class="card-img absolute top-0">
              </a>
            </div>
          </div>

          <div class="col-md-6 mb-8">
            <div class="card card-lift--hover shadow border-0 p-3">
              <a href="" title="HappyFox Chat" target="_blank" class="w-full relative overflow-hidden bg-gray-200 pt-16:9">
                <img src="http://assets.youzhan.org/img/6/ee/f48a92ca5ce32613e265c79674a2b.jpg!md" class="card-img absolute top-0">
              </a>
            </div>
          </div>

          <div class="col-md-6 mb-8">
            <div class="card card-lift--hover shadow border-0 p-3">
              <a href="" title="牛云" target="_blank" class="w-full relative overflow-hidden bg-gray-200 pt-16:9">
                <img src="http://assets.youzhan.org/img/7/42/6dbc0cb60003198ada827d0d81771.jpg!md" class="card-img absolute top-0">
              </a>
            </div>
          </div>

          <div class="col-md-6 mb-8">
            <div class="card card-lift--hover shadow border-0 p-3">
              <a href="" title="Actiu" target="_blank" class="w-full relative overflow-hidden bg-gray-200 pt-16:9">
                <img src="http://assets.youzhan.org/img/1/d6/39b6ebcd576e1164148f9959121f6.jpg!md" class="card-img absolute top-0">
              </a>
            </div>
          </div>

          <div class="col-md-6 mb-8">
            <div class="card card-lift--hover shadow border-0 p-3">
              <a href="" title="Stacktile" target="_blank" class="w-full relative overflow-hidden bg-gray-200 pt-16:9">
                <img src="http://assets.youzhan.org/img/7/d0/49ead07b6967fcd57ce43b6b01dac.jpg!md" class="card-img absolute top-0">
              </a>
            </div>
          </div>

          <div class="col-md-6 mb-8">
            <div class="card card-lift--hover shadow border-0 p-3">
              <a href="" title="rhythm" target="_blank" class="w-full relative overflow-hidden bg-gray-200 pt-16:9">
                <img src="http://assets.youzhan.org/img/6/39/6f8cf6f469b2f2fa9f9ac14acc1f2.jpg!md" class="card-img absolute top-0">
              </a>
            </div>
          </div>

          <div class="col-md-6 mb-8">
            <div class="card card-lift--hover shadow border-0 p-3">
              <a href="" title="Clever Cloud" target="_blank" class="w-full relative overflow-hidden bg-gray-200 pt-16:9">
                <img src="http://assets.youzhan.org/img/c/7f/1d06ff2a317e8927a14dfdea1d2b2.jpg!md" class="card-img absolute top-0">
              </a>
            </div>
          </div>

          <div class="col-md-6 mb-8">
            <div class="card card-lift--hover shadow border-0 p-3">
              <a href="" title="Shoppable" target="_blank" class="w-full relative overflow-hidden bg-gray-200 pt-16:9">
                <img src="http://assets.youzhan.org/img/f/78/93327d4d0648fe64dac56d3ec1bba.jpg!md" class="card-img absolute top-0">
              </a>
            </div>
          </div>

        </div>
      </div>
    </section>




  </main>

  <footer class="footer">
    <div class="container">
      <div class="row row-grid align-items-center mb-5">

        <div class="col-lg-6 text-lg-center btn-wrapper">
          <a href="/submit/" target="_blank" class="btn btn-primary btn-icon font-normal">
            <span class="btn-inner--icon">
              <i class="fa fa-cloud-upload mr-2"></i>
            </span>

          </a>
        </div>
      </div>
      <hr>
      <div class="row align-items-center justify-content-md-between">

        <div class="col-md-6">
          <ul class="nav nav-footer justify-content-end">
            <li class="nav-item">
              <a href="http://www.beian.miit.gov.cn/" class="nav-link" target="_blank">京ICP备20001776号-1</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- Core -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/headroom.js@0.9.4/dist/headroom.min.js"></script>
  <!-- Argon JS -->
  <script src="/assets/js/argon.min.js"></script>


</body>
</html>